@model WebTestAppBank.Models.Casset

<style>
   a { cursor: pointer; }
  </style>

    <div class="modal-content">
        <div class="modal-header">
            @{ int ID = Model.ID + 1; }
            <h4>Casset №@ID</h4>
            <hr />
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt class="col-sm-2">
                    Nominals
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.Message
                </dd>
            </dl>
            <a class="close" data-dismiss="modal" area-hidden="true">Close</a>
        </div>
    </div>
