@{
    ViewData["Title"] = "Error withdrawal";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Banknotes for withdrawal entered amount money not found.</h2>
<h2 class="text-danger">Enter another amount.</h2>
