@{
    ViewData["Title"] = "Error withdrawal";
}

<h1 class="text-danger">Withdrawal Error.</h1>
<h2 class="text-danger">Banknotes can't be withdrawal.</h2>
<h2 class="text-danger">Try to enter another amount.</h2>
